@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FrederickaTheGreat";
  src: url("/fonts/FrederickatheGreat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PoiretOne";
  src: url("/fonts/PoiretOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: #e7decf;
}

nav hr {
  height: 2px;
  background-color: grey;
  scale: 0;
  transition: 0.5s ease-in-out;
}

.active hr {
  scale: 1;
}

body {
/* background-image: linear-gradient(100deg, #a1c4fd 0%, #c2e9fb 100%); */
background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
