@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FrederickaTheGreat";
  src: url("/fonts/FrederickatheGreat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

 hr {
  height: 2px;
  background-color: grey;
  scale: 0;
  transition: 0.5s ease-in-out;
}

.active hr {
  scale: 1;
}

/* Frosted glass button */
button {
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

/* Hover effect */
button:hover {
  background: linear-gradient(135deg, #203a43, #2c5364);
  color: #ffffff;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  font-family: FrederickaTheGreat;
  letter-spacing: 4px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  font-family: font-poiret;
  letter-spacing: 2px;
}

input,
textarea {
  padding: 5px;
  outline: none;
}
