@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FrederickaTheGreat";
  src: url("/fonts/FrederickatheGreat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


nav hr {
  height: 2px;
  background-color: grey;
  scale: 0;
  transition: 0.5s ease-in-out;
}

.active hr {
  scale: 1;
}

/* Frosted glass button */
button {
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

/* Hover effect */
button:hover {
  background: linear-gradient(135deg, #203a43, #2c5364);
  color: #ffffff;
}

h2{
 font-size: larger;
}

input,textarea{
  padding: 5px;
  outline: none;
}

